
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  title Agro Oriental
  meta(name='keywords', content='Agro Oriental')
  meta(name='author', content='Agro Oriental')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', ,content="https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/icon.png")
  // Mobile App Download Meta
  link(rel='shortcut icon', sizes='64x64 48x48 32x32 24x24 16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon.ico')
  link(rel='icon', type='image/png', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-128x128.png', sizes='128x128')
  meta(name='application-name', content='Agro Oriental')
  link(rel='apple-touch-icon', sizes='57x57', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/favicon-16x16.png')
  link(rel='manifest', href='/manifest.json')
  meta(name='application-name', content='Agro Oriental')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-57x57.png', sizes='57x57')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-76x76.png', sizes='76x76')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-120x120.png', sizes='120x120')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-144x144.png', sizes='144x144')
  link(rel='apple-touch-icon-precomposed', href='https://mercadoagro-backoffice.s3.amazonaws.com/images/favico/apple-icon-152x152.png', sizes='152x152')
  base(href='/')

  // plugins:css
  link(rel="stylesheet", href="/majestic/vertical-layout-light/style.css")
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/mdi/css/materialdesignicons.min.css?version=1')
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.css')
  // endinject
  // plugin css for this page
  link(rel='stylesheet', href='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')
  // End plugin css for this page
  // inject:css
  link(rel='stylesheet', href='https://mercadoagro-backoffice.s3.amazonaws.com/css/style.css')
  style.
    .desktop-only {
      display: flex;
    }
    .mobile-only {
      display: flex;
    }
    @media screen and (min-width: 600px) {
      .mobile-only {
        display: none;
      }
    }
    @media screen and (max-width: 600px) {
      .desktop-only {
        display: none;
      }
    }
    select {
        appearance: auto !important;
    }

  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery.min.js')
  script(src='https://s3.amazonaws.com/rewo/backoffice/js/jquery-ui.min.js')
  script(src='https://cdn.socket.io/4.7.4/socket.io.min.js')
  script.
    const socket = io();

body.sidebar-icon-only
  .container-scroller
    nav.navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
      .navbar-brand-wrapper.d-flex.justify-content-center
        .navbar-brand-inner-wrapper.d-flex.justify-content-between.align-items-center.w-100
          a.navbar-brand.brand-logo(href='/')
            img(src='https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/logo-text.png', alt='Agro Oriental')
          a.navbar-brand.brand-logo-mini(href='/')
            img(style="height: auto;",  src='https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/icon.png', alt='Agro Oriental')
          button.navbar-toggler.navbar-toggler.align-self-center(type='button', data-toggle='minimize')
            span.mdi.mdi-sort-variant
      .navbar-menu-wrapper.d-flex.align-items-center.justify-content-end
        ul.navbar-nav.mr-lg-4.w-100(style={"visibility": (searchURL ? "visible" : "hidden")})
          li.nav-item.nav-search.w-100
            .input-group
              .input-group-prepend
                span#search.input-group-text.m-0
                  i.mdi.mdi-magnify
              form.forms-sample(method='post', name='searchForm', action=searchURL, style="width:90%")
                input.form-control(type='text', name='searchTerm', placeholder='Buscar', aria-label='buscar', aria-describedby='buscar')
        ul.navbar-nav
          li.nav-item.nav-profile.dropdown
            a#profileDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
              if(userImage)
                img(src=userImage, alt=userNameSurname)
              else
                img(src='https://mercadoagro-backoffice.s3.amazonaws.com/images/logos/logo-text.png', alt=userNameSurname) 
              span.nav-profile-name #{userNameSurname.split(" ")[0]}
            .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='profileDropdown')
              a.dropdown-item(href="/settings")
                i.mdi.mdi-settings.text-primary 
                span.menu-title Perfil
              a.dropdown-item(href="/reset-password")
                i.mdi.mdi-key.text-primary 
                span.menu-title Cambiar Contraseña
              a.dropdown-item(href="/logout")
                i.mdi.mdi-logout.text-primary 
                span.menu-title Salir
        button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button', data-toggle='offcanvas')
          span.mdi.mdi-menu
          
    .container-fluid.page-body-wrapper
      nav#sidebar.sidebar.sidebar-offcanvas
        ul.nav
          li.nav-item
            a.nav-link(href='/')
              i.mdi.mdi-home.menu-icon
              span.menu-title Inicio
          li.nav-item
            a.nav-link(data-toggle='collapse', href='#usersMenu', aria-expanded='false', aria-controls='usersMenu')
              i.mdi.mdi-account-multiple.menu-icon
              span.menu-title Clientes
              i.menu-arrow
            #usersMenu.collapse
              ul.nav.flex-column.sub-menu
                li.nav-item
                  a.nav-link(href='/personas') Personas
                li.nav-item
                  a.nav-link(href='/sociedades') Sociedades
                li.nav-item
                  a.nav-link(href='/establecimientos') Establecimientos
          li.nav-item
            a.nav-link(data-toggle='collapse', href='#cattleLotsMenu', aria-expanded='false', aria-controls='cattleLotsMenu')
              i.mdi.mdi-cow.menu-icon
              span.menu-title Lotes
              i.menu-arrow
            #cattleLotsMenu.collapse
              ul.nav.flex-column.sub-menu
                li.nav-item
                  a.nav-link(href='/ganado/lote/nuevo') 
                    mark.bg-success.text-white
                      | Crear lote
                li.nav-item
                  a.nav-link(href='/ganado') Lotes
                //li.nav-item
                  a.nav-link(href='/') Historial
          li.nav-item
            a.nav-link(data-toggle='collapse', href='#comercialMenu', aria-expanded='false', aria-controls='comercialMenu')
              i.mdi.mdi-bullseye.menu-icon
              span.menu-title Comercial
              i.menu-arrow
            #comercialMenu.collapse
              ul.nav.flex-column.sub-menu
                li.nav-item
                  a.nav-link(href='/') Ventas

          li.nav-item
            a.nav-link(data-toggle='collapse', href='#logisticsMenu', aria-expanded='false', aria-controls='logisticsMenu')
              i.mdi.mdi-truck.menu-icon
              span.menu-title Logística
              i.menu-arrow
            #logisticsMenu.collapse
              ul.nav.flex-column.sub-menu
                li.nav-item
                  a.nav-link(href='/') Fletes
                li.nav-item
                  a.nav-link(href='/') Tracking

          li.nav-item
            a.nav-link(data-toggle='collapse', href='#administrationMenu', aria-expanded='false', aria-controls='administrationMenu')
              i.mdi.mdi-folder-multiple.menu-icon
              span.menu-title Administración
              i.menu-arrow
            #administrationMenu.collapse
              ul.nav.flex-column.sub-menu
                li.nav-item
                  a.nav-link(href='/') Compras pendientes
                li.nav-item
                  a.nav-link(href='/') Pedidos
                li.nav-item
                  a.nav-link(href='/') O.C.
                li.nav-item
                  a.nav-link(href='/') Cotizaciones
                li.nav-item
                  a.nav-link(href='/') Cobranzas

          li.nav-item
            a.nav-link(href='/')
              i.mdi.mdi-chart-bar.menu-icon
              span.menu-title Estadísticas
              
      block content
            
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/base/vendor.bundle.base.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net/jquery.dataTables.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js')
script(src='/sweetalert.min.js')

script(src='https://s3.amazonaws.com/rewo/backoffice/js/off-canvas.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/hoverable-collapse.js')
script(src='https://s3.amazonaws.com/rewo/backoffice/js/template.js')