extends ../baseAppHTML

block content 
  link(rel='stylesheet', href='/vendors/jquery_toast/jquery.toast.min.css')
  
  .content-wrapper.p-0.m-0
    .row
      .col-md-12
        .card.border-0
          .card-body
            .mt-0
              a(href="/cuentas/") 
                i.mdi.mdi-arrow-left.icon-md
            h3.fw-normal.mt-3
              each accountTab in accountTabs
                if(accountTab.key == lot.transactionKey)
                  | #{accountTab.nameAction}

            .row.align-items-center.my-2
              .col-6
                h5.text-muted.m-0.mb-2
                  | Importe: 
                h4.m-0
                  span.fw-normal
                    if(lot.total)
                      small #{lot.currencyName} 
                      | #{lot.total.toFixed(lot.auctionPriceType ? 2 : 0).toString().replace(".",",").replace(/\B(?=(\d{3})+(?!\d))/g, ".")}
                    else 
                      small #{lot.currencyName} 
                      | 0.00
              if(lot.transactionKey == "sales")
                if(lot.paymentsInAdvanceId)
                  #paymentInAdvanceSection.col-6.text-center.bg-warning
                    p.m-0.p-2.w-100
                      | Adelanto ##{lot.paymentsInAdvanceId} por
                      br 
                      b USD #{lot.paymentsInAdvanceAmount}
                      br
                      | en proceso
                else
                  #paymentInAdvanceSection.col-6.text-right
                    h6.text-left
                      small.text-muted Monto de anticipo
                    input(type="hidden", name="paymentInAdvanceLotId", value=transaction.lotId)
                    input.form-control.text-center.mb-2(style="font-size: 25px;", type="number", name="paymentInAdvanceAmount", step=1, min=1, max=100, value=50, onchange="checkPaymentInAdvanceAmount()")
                    button.btn.btn-warning.btn-sm.text-dark(onclick="requestPaymentInAdvance()")
                      h5.font-weight-normal.m-0.text-truncate Solicitar anticipo
              else 
                .col-6

            h6.text-muted
              | Fecha: 
              span.fw-normal #{lot.totalDate}
            h5.mb-4
              | Estado: 
              span(class=lot.statusId != 10 ? "text-warning" : "text-success")
                | #{lot.statusName}

            if(transaction.lotId)
              h5 Documentación
              .d-flex.flex-wrap.justify-content-between.text-primary.w-100
                .align-items-center.justify-content-center.justify-content-md-center.px-2.px-md-0.mx-1.mx-md-0.text-center.item
                  if(transaction.heavyDoc)
                    i.mdi.mdi-file-document.icon-lg
                  else
                    i.mdi.mdi-file-hidden.icon-lg.text-muted
                  p.pt-2 Pesada
                .align-items-center.justify-content-center.justify-content-md-center.px-2.px-md-0.mx-1.mx-md-0.text-center.item
                  if(transaction.guideDoc)
                    i.mdi.mdi-file-document.icon-lg
                  else
                    i.mdi.mdi-file-hidden.icon-lg.text-muted
                  p.pt-2 Guía
                .align-items-center.justify-content-center.justify-content-md-center.px-2.px-md-0.mx-1.mx-md-0.text-center.item
                  if(transaction.traceability)
                    i.mdi.mdi-file-document.icon-lg
                  else
                    i.mdi.mdi-file-hidden.icon-lg.text-muted
                  p.pt-2 Trazabilidad

    include transaction-includes/lot-details.pug
    
  include common-scripts.pug

  script(src='/sweetalert.min.js')
  script(src='/accounts/scripts.js?ver=1')
  script(src='/home/maps.js?version=1')
  script(src='https://maps.google.com/maps/api/js?key=AIzaSyBpSkP-tvO14Rgji6jzW_-xICmNwoVngf0&libraries=marker,places&loading=async', type='text/javascript')