extends ../baseHTML

block content
  link(rel='stylesheet', href='/upload-profile-image/style.css?version=1')
  link(rel='stylesheet', href='/societies/style.css?version=1')
  
  .main-panel
    .content-wrapper
        .row
          .col-md-12
            .card
              .card-body
                if(error.msj)
                  #error-message.row
                    .col-md-12.grid-margin
                      .card.border-0(class= error.type == "success" ? "bg-success" : "bg-danger")
                        .card-body.py-3.px-4.d-flex.align-items-center.justify-content-between.flex-wrap
                          p.mb-0.text-white.font-weight-medium #{error.msj}

                          .d-flex
                            if(error.type == "success" && error.society)
                              a.btn.btn-light.mr-2(href="/sociedades/perfil/" + error.society, target='_blank') Ver sociedad

                            button#error-close.btn.border-0.p-0
                              i.mdi.mdi-close.text-white

                form.my-4(method="post", enctype="multipart/form-data", action='/sociedades/actualizar')
                  input(type="hidden", name="societyId", value=society.societyId)
                  .row
                    .col-md-2.mt-2
                      .card
                        .card-body.p-0
                          .media.w-100
                            - let __aux_prod_image = 'background-image:url(' + (society.societyImage ? society.societyImage : "https://mercadoagro-backoffice.s3.amazonaws.com/images/societies/no-profile-img.png") + ')'
                            #uploader-image-container(style=__aux_prod_image)
                              img(src="https://mercadoagro-backoffice.s3.amazonaws.com/images/transparent-pixel.png", width="100%", onclick="fireFileInputFromImg()")
                              if(society.societyImage)
                                input#image-to-upload-url(type="hidden", name="imageToUploadUrl", value=society.societyImage)
                              else 
                                input#image-to-upload-url(type="hidden", name="imageToUploadUrl", value="")

                              input#uploader-image(type="file", name="imageToUpload", hidden, value="")
                              input#file-name-to-upload(type='hidden', name='fileName', value="")
                              label#uploader-image-label.btn.btn-danger(for="uploader-image") 
                                i.mdi.mdi-upload.btn-icon-prepend

                    .col-md-6.stretch-card
                      .card.border-0
                        .card-body.px-2.pt-2 
                          h6 Datos básicos
                          .row 
                            .col-sm-12
                              input.form-control.mb-2.mr-sm-2(type='text', name="company", placeholder='Razón social', value=society.societyCompany)
                          .row
                            .col-sm-12
                              input.form-control.mb-2(type='text', name="name", placeholder='Nombre fantasía', value=society.societyName)
                          .row 
                            .col-sm-12
                              input.form-control.mb-2.mr-sm-2(type='text', name="rut", placeholder='RUT/CUIT', value=society.societyRut)

                          h6.mt-3 Teléfono    
                          .row 
                            .col-sm-12  
                              .form-inline
                                .w-20.pr-sm-2
                                  select#phone-country.form-control.w-100(name="phoneCountry", onchange="hideShowAreacode()")
                                    each itemCountry in countries
                                      if(itemCountry.id == society.phoneCountry)
                                        option(value=itemCountry.id, selected="selected") #{itemCountry.name}
                                      else 
                                        option(value=itemCountry.id) #{itemCountry.name}        
                                #phone-areacode.w-20.pr-sm-2(class=society.phoneCountry == 2 ?  "": "d-none")
                                  input.form-control.w-100(type='number', name="phoneAreacode", placeholder='Código de área', value=society.phoneAreacode)
                                .w-40.pr-sm-2
                                  input.form-control.w-100(type='number', name="phoneNumber", placeholder='Número', value=society.phoneNumber)
                                .w-20
                                  input.form-control.w-100(type='number', name="phoneIntern", placeholder='Interno', value=society.phoneIntern)
                            
                          h6.mt-3 Personas
                          #customers-container
                          .row 
                            .col-sm-12
                              .form-group
                                .input-group
                                  input#customers-search-input.form-control(type='text' placeholder="Buscar cliente" aria-label="Buscar cliente")
                                  button#customers-search-input-clear.btn.btn-link.btn-fw(type="button",style="position: absolute;right: 62px;top: 2px;display:none") Borrar
                                  .input-group-append
                                    button#customers-search-button.btn.btn-sm.btn-primary(type='button') Buscar
                                p#customers-search-warning.text-secondary.text-danger.mt-2(style="display:none")
                                  | Ingresá al menos 3 caracteres para realizar la búsqueda
                                p#customers-search-warning.text-secondary.text-danger.mt-2.pl-2(style="display:none")
                                  | No hay resultados
                                  a.btn.btn-success.ml-2(href="/personas/nuevo", target="_blank")
                                    | Crear cliente
                                  
                                #customers-search-results.table-responsive
                                
                              
                              if(society.customers.length)
                                script.
                                  const multiCustomer = true;
                                  var customersArray = !{JSON.stringify(society.customers)};
                              else 
                                script.
                                  const multiCustomer = true;
                                  var customersArray = [];
                                  
                    .col-md-4.stretch-card
                      .card.border-0
                        .card-body.px-2.pt-2  
                          h6 Dirección   
                          .form-group
                            input(type="hidden", name="locationId", value=society.addressLocation ? society.addressLocation : "")
                            input(type="hidden", name="stateId", value=society.addressState ? society.addressState : "")
                            .row 
                              .col-sm-12  
                                input.form-control.w-100.mb-2(type='text', name="addressStreet", placeholder='Dirección', value=society.addressStreet)
                            .row 
                              .col-sm-12  
                                select#address-locations.form-control.mb-2.d-none(name="addressLocation", onchange="locationChanged()")
                            .row 
                              .col-sm-12  
                                select#address-states.form-control.mb-2(name="addressState", onchange="getLocationsByState()" )
                            .row 
                              .col-sm-12  
                                select#address-country.form-control(name="addressCountry", onchange="getStatesByCountry()")
                                  each itemCountry in countries
                                    if(itemCountry.id == society.addressCountry)
                                      option(value=itemCountry.id, selected="selected") #{itemCountry.name}
                                    else 
                                      option(value=itemCountry.id) #{itemCountry.name} 

                  .row
                    .col-md-2
                    .col-md-10
                      button.society-submit.btn.btn-primary.mr-2(type='submit') Actualizar sociedad
                              
    footer.footer
      .d-sm-flex.justify-content-center.justify-content-sm-between
        span.text-muted.text-center.text-sm-left.d-block.d-sm-inline-block
          a(href='/', target='_blank') MercadoAgro
        span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
          i.mdi.mdi-heart.text-danger

  script(src='/upload-profile-image/scripts.js?version=1')
  script(src='/customers/search-api.js?version=1')
  script(src='/address/manage-form.js?version=4')
  script(src='/address/phone.js?version=1')
  script(src='/errors/actions.js?version=1')