extends ../baseAppHTML

block content 
  link(href='/customers/styles.css', rel='stylesheet', type='text/css')

  .content-wrapper.p-0.m-0
    .row
      .col-md-12
        .card.border-0
          .card-body
            d-flex.justify-content-between.flex-wrap
              .d-flex.align-items-center.flex-wrap
                a(href="javascript:goBackwards()") 
                  i.mdi.mdi-arrow-left.icon-md

    .row.mb-4
      .col-md-12
        .card.border-0
          .card-body.py-0
            .row
              .col-md-12
                .media
                  .mt-2
                    - var __aux_userProfileImage = customer.customerImage ? "background-image:url(" + customer.customerImage + ")" : "";
                    .customer-profile-image(style=__aux_userProfileImage)
                      img.w-100(src="https://agro-oriental-remates.s3.us-west-1.amazonaws.com/web/images/transparent-pixel.png")
                    .mt-2 
                      h6
                        small.text-muted
                          | REF: ##{customer.customerId}
                  .media-body.pl-4
                    h6
                      small.text-muted
                        | Nombre
                    input.form-control(type="text", name="name", placeholder="Nombres", value=customer.customerName)
                    h6.mt-3
                      small.text-muted
                        | Apellido
                    input.form-control(type="text", name="surname", placeholder="Apellido", value=customer.customerSurname)

    .row.mb-4
      .col-md-12
        .card.border-0
          .card-body.py-0
            h5.fw-bold Datos para el remate
            p#auction-data-description
              | Indicá la CI o el RUT y la razón social  nombre de quien realizará la compra en el remate. 
              | Este puede cohincidir o no con los datos del usuario, que pre-ofertó o pica durante el remate.

            .d-flex.justify-content-between.flex-wrap.mb-2
              .d-flex.align-items-center.flex-wrap
                p.m-0 Tipo de doc.
              .d-flex.align-items-center.align-items-end.flex-wrap
                .form-group.m-0
                  select#nid-type-id.form-control.m-0(name="nidTypeId", onchange="updateOnNidType()")
                    each customersNidTypeItem in customersNidTypes
                      if(customersNidTypeItem.id == customer.nidTypeId || (!customer.nidTypeId && customersNidTypeItem.id == 1))
                        option(value=customersNidTypeItem.id, selected="selected") #{customersNidTypeItem.name}
                      else
                        option(value=customersNidTypeItem.id) #{customersNidTypeItem.name}

            .d-flex.justify-content-between.flex-wrap.mb-2
              .d-flex.align-items-center.flex-wrap
                p.m-0 Número de doc.
              .d-flex.align-items-center.align-items-end.flex-wrap
                .form-group.m-0
                  input.form-control(type="text", name="nid", placeholder="", value=customer.nid)

            #company-name-container.d-flex.justify-content-between.flex-wrap
              .d-flex.align-items-center.flex-wrap
                p#label-company-name.m-0 
                  if(!customer.nidTypeId || customer.nidTypeId == 1)
                    | Nombre
                  else 
                    | Razón social
              .d-flex.align-items-center.align-items-end.flex-wrap
                .form-group.m-0
                  input.form-control(type="text", name="companyName", placeholder="", value=customer.companyName)

    .row.mb-5
      .col-md-12
        .card.border-0
          .card-body.py-0
            .d-flex.justify-content-between.flex-wrap
              .d-flex.align-items-center.flex-wrap
              .d-flex.align-items-center.align-items-end.flex-wrap
                button.btn.btn-primary(type='button')
                  | Actualizar perfil         

                              
    .row
      .col-md-12
        .card.border-0
          .card-body
            .d-flex.justify-content-between.flex-wrap
              .d-flex.align-items-center.flex-wrap
                p.m-0 Cerrar sesión?
              .d-flex.align-items-center.align-items-end.flex-wrap
                form(method="post" action='/logout')
                  button.btn.btn-light(type='submit')
                    | Salir
    
  script(src="/customers/scripts.js")